footer{
  background: hsl(351, 2%, 18%);
  color: var(--font-white);
}
footer a{
  color: var(--font-white);
}
footer .top{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-block: 60px;
}
footer .start img{
  width: 200px;
}
footer :not(.start) h2{
  margin-bottom: 10px;
}
footer :where(.center, .end) ul{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .end .information li{
  display: flex;
  gap: 4px;
}
footer .end .information li div{
  display: block;
  align-self: center;
  height: 1lh;
  aspect-ratio: 1;
}
footer .center a:hover{
  text-decoration: underline;
}
footer .bottom{
  background: hsl(351, 2%, 16%);
  display: flex;
  justify-content: center;
  padding-block: 15px;
}

@media(max-width: 780px){
  footer .top{
    grid-template-columns: repeat(2, 1fr);
  }
  footer .start{
    grid-column: span 2;
  }
  footer .end .information span{
    max-width: 200px;
  }
  footer .top > div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 560px){
  footer .top{
    grid-template-columns: 1fr;
  }
  footer .start{
    grid-column: span 1;
  }
  footer .center ul li,
  footer .start h2{
    text-align: center;
  }
  footer .end .information{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}